# Creating Pandas series object from Python List

In [4]:
import pandas as pd
cities=["Delhi","Mexico city","Washington DC","Paris"]
#Uses constructor method Series from pandas library to create series out of Python List
#Constructor method constructs brand new objects for us to work with
pd.Series(cities)

0            Delhi
1      Mexico city
2    Washington DC
3            Paris
dtype: object

In [5]:
#Creating pandas series object from int list
odd_numbers=[1,3,5,7,9,11]
pd.Series(odd_numbers)

0     1
1     3
2     5
3     7
4     9
5    11
dtype: int64

In [6]:
#Creating pandas series object from bool list
bool_list=[True,False,True,True,False]
pd.Series(bool_list)

0     True
1    False
2     True
3     True
4    False
dtype: bool

# Creating series object from Dictionary

In [7]:
countries={"India":"New Delhi","Mexico":"Mexico City","USA":"New York"}
pd.Series(countries)

India       New Delhi
Mexico    Mexico City
USA          New York
dtype: object