# sort_values() method

In [7]:
#import pandas
import pandas as pd
gsp=pd.read_csv("google_stock_price.csv",squeeze=True)
#To sort values in ascending order
#sort_values will give brand new series again,so we can perform method chaining to get desired data
#To get the lowest value
gsp.sort_values().head(1)

11    49.95
Name: Stock Price, dtype: float64

In [8]:
#To sort values in descending order
sv=gsp.sort_values(ascending=False)
#To get the highest value
sv.head(1)

3011    782.22
Name: Stock Price, dtype: float64

# inplace attribute

inplace attribute used to assign the newly created series out of methods like sort_values to the same series on which it is opertaed

In [13]:
#Before using inplace
gsp.head(3)

3011    782.22
2859    776.60
3009    773.18
Name: Stock Price, dtype: float64

In [14]:
#After the usage of inplace
gsp.sort_values(inplace=True)
gsp.head(3)

11    49.95
9     50.07
0     50.12
Name: Stock Price, dtype: float64

In [15]:
#Old school way to do the same 
gsp=gsp.sort_values(ascending=False)
gsp.head(3)

3011    782.22
2859    776.60
3009    773.18
Name: Stock Price, dtype: float64