# Importing pandas series using readcsv()

In [9]:
#Import pandas
import pandas as pd
#usecols is used to mention the columns that should be available in dataframe/series
#squeeze=True will convert dataframe into series
pok=pd.read_csv("pokemon.csv",usecols=["Pokemon"],squeeze=True)
pok

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [12]:
gd=pd.read_csv("google_stock_price.csv",squeeze=True)
gd

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

# Head and tail methods

In [14]:
#head() will give top 5 rows by default but we can mention the number of rows to be returned
gd.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [18]:
#Also head() function will create a new series behind the scene, hence we can store the result of head() in a variable
#head(12) will return top 12 rows
ns=gd.head(12)
ns

0     50.12
1     54.10
2     54.65
3     52.38
4     52.95
5     53.90
6     53.02
7     50.95
8     51.13
9     50.07
10    50.70
11    49.95
Name: Stock Price, dtype: float64

In [20]:
#Tail method example
#Returns last 5 rows by default
pok.tail()

716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [22]:
#Like head(), result of tail() also can be stored in a new variable for reuse
ps=pok.tail(15)
ps

706       Klefki
707     Phantump
708    Trevenant
709    Pumpkaboo
710    Gourgeist
711     Bergmite
712      Avalugg
713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

# Python built-in functions

len()-when you use with series,it will give you the total number of rows

In [26]:
len(pok)

721

In [27]:
len(gd)

3012

type()- to find out the type of the object

In [28]:
type(gd)

pandas.core.series.Series

sorted- returns a new list containg the iterable in ascending order

In [29]:
sorted(pok.head(15))

['Beedrill',
 'Blastoise',
 'Bulbasaur',
 'Butterfree',
 'Caterpie',
 'Charizard',
 'Charmander',
 'Charmeleon',
 'Ivysaur',
 'Kakuna',
 'Metapod',
 'Squirtle',
 'Venusaur',
 'Wartortle',
 'Weedle']

list()-Creates a new list from the iterable provided, if no arguement provided, then creates a empty list

In [33]:
nl=list(pok.tail(20))
nl

['Dedenne',
 'Carbink',
 'Goomy',
 'Sliggoo',
 'Goodra',
 'Klefki',
 'Phantump',
 'Trevenant',
 'Pumpkaboo',
 'Gourgeist',
 'Bergmite',
 'Avalugg',
 'Noibat',
 'Noivern',
 'Xerneas',
 'Yveltal',
 'Zygarde',
 'Diancie',
 'Hoopa',
 'Volcanion']

In [34]:
type(nl)

list

dict()- used to create dictionary out of iterable

In [35]:
dict(gd.tail(20))

{2992: 715.09,
 2993: 720.64,
 2994: 716.98,
 2995: 720.95,
 2996: 719.85,
 2997: 733.78,
 2998: 736.96,
 2999: 741.19,
 3000: 738.63,
 3001: 742.74,
 3002: 739.77,
 3003: 738.42,
 3004: 741.77,
 3005: 745.91,
 3006: 768.79,
 3007: 772.88,
 3008: 771.07,
 3009: 773.18,
 3010: 771.61,
 3011: 782.22}

max()-With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument

In [36]:
max(pok)

'Zygarde'

In [37]:
max(gd)

782.22